@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

html, body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #8A969C;
}
.logo{
  font-family: 'Satisfy', cursive;
}

.page-welcome{
  width: 100%;
  height: 100%;
  display: table;
  background:url('/img/cragfund.jpeg');
  font-family:'Roboto', sans-serif;
  background-size: auto 2000px;
  background-position:top;
}

.page-jailhouse{
  width: 100%;
  height: 100%;
  display: table;
  background:url('/img/jailhouse.jpeg');
  font-family:'Roboto', sans-serif;
  background-size: auto 1700px;
  background-position:center;
  .logo{
    color:#eee;
  }
  .quote{
    color:#eee;
    text-align:center;
    span{
      display:inline-block;
      width:50%;
    }
  }
  .special{
    font-family: 'Lato', sans-serif;
    font-size:12px;
    color:#666;
    text-align:center;
  }
  .paypal{
    margin-top:40px;
  }
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
  margin-bottom: 20px;
}

.quote {
  font-size: 24px;
  margin-bottom:20px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}
.login{
  padding:10px;
}

.forgot-password{
  float:left;
  font-size:.85em;
}

.btn-login{
  float:right;
}

.register{
  position:fixed;
  top:1em;
  right:1em;
  font-size:.85em;
}